<mat-card>
    <h1>{{address.name}}</h1>
    <mat-list>
        <mat-list-item><p>Street</p><span>{{address.streetAddress}}</span></mat-list-item>
        <mat-list-item><p>City</p><span>{{address.city}}</span></mat-list-item>
        <mat-list-item><p>State</p><span>{{address.state}}</span></mat-list-item>
        <mat-list-item><p>Zip code</p><span>{{address.zipCode}}</span></mat-list-item>
        <mat-list-item><p>Phone</p><span>{{address.phone}}</span></mat-list-item>
    </mat-list>
</mat-card>